@media screen and (max-width:576px) {


    body {
        padding: 20px;
    }

    nav p,
    .bnt {
        display: none;
    }

    nav .span {
        display: inline;
    }

    .banner img {
        width: 200px;
        margin-top: -10px;
    }

    .banner .mic {
        width: 80px;
        margin-top: 30px;
        margin-left: -40px;
    }

    .banner .tag {
        margin-left: 315px;
        margin-top: -5px;
    }

    .banner p {
        padding: 10px;
    }

    .section2 h3 {
        margin: 0;
    }

    .section2 p {
        margin: 10px 0px;
    }

    .box {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        display: inline;
        grid-template-areas:
            "one  one  one"
            "two  two two "
            "tree tree tree"
            "four four four"
            "five five five";
        gap: 20px;
        padding: 10px;
    }


    .section5 .card-text {
        grid-template-columns: repeat(1, 1fr);
        padding: 50px;
    }

    .section5 .card {
        padding: 40px;
    }




    .section6 {
        padding: 30px;
        gap: 50px;
    }

    .host h4 {
        margin-top: 16px;
    }

    .section6 .host {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .host h4 {
        text-align: center;
    }

    .host p {
        text-align: center;
        padding: 20px;
    }

    .host .img-host img {
        /* margin-right: 50px; */
        margin-left: 20px;
        flex-direction: column;
        align-items: center;
    }



    footer {
        background: rgba(26, 11, 46, 1);
        width: 590px;
        height: 300px;
    }

    footer h1 {
        font-size: 40px;
        margin-top: 50px;
    }

    footer div div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px 10px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {

    body {
        padding: 20px;
    }

    .banner img {
        width: 200px;
        margin-top: 60px;
    }

    .banner .mic {
        width: 80px;
        margin-top: 90px;
        margin-left: -40px;
    }

    .banner .tag {
        margin-left: 525px;
        margin-top: 60px;
    }


    .container {
        display: inline;
        grid-template-areas:
            "one  one  one"
            "two  two two "
            "tree tree tree"
            "four four four"
            "five five five";
        gap: 20px;
        padding: 10px;
    }

    .section5 .card-text {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
    }

    footer {
        width: 100%;
        height: 100%px;
    }
}