@media screen and (max-width:576px) {

    nav p,
    .bnt {
        display: none;
    }

    nav .span {
        display: inline;
    }

    .banner img {
        width: 200px;
        margin-top: -10px;
    }

    .banner .mic {
        width: 80px;
        margin-top: 30px;
        margin-left: -40px;
    }

    .banner .tag {
        margin-left: 335px;
        margin-top: -5px;
    }

    .banner p {
        padding: 10px;
    }

    .section2 h3 {
        margin: 0;
    }

    .section2 p {
        margin: 10px 0px;
    }

    .box {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        display: inline;
        grid-template-areas:
            "one  one  one"
            "one  two two "
            "tree tree tree"
            "four four four"
            "five five five";
        gap: 20px;
        padding: 10px;
    }


    .section5 .card-text {
        grid-template-columns: repeat(1, 1fr);
        padding: 50px;
    }

    .section5 .card {
        padding: 40px;
    }


    .section6 {
        padding: 30px;
        gap: 50px;
    }

    .host h4 {
        margin-top: 16px;
    }

    .section6 .host {
        display: contents;
        text-align: center;
        background: rgb(53, 17, 101);
    }


    footer {
        background: rgba(26, 11, 46, 1);
        width: 590px;
        height: 300px;
    }

    footer h1 {
        font-size: 40px;
        margin-top: 50px;
    }

    footer div div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 20px 10px;
    }
}