/* google fonts tag  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    background: rgba(26, 11, 46, 1);
}

/* nav title tag ster  */
nav {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav div {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav h3 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

nav h3 span {
    color: rgb(168, 85, 247);
}

nav p {
    font-size: 16px;
    font-weight: 500px;
    color: #FFFFFF;
}

nav button {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 18px;
    border: none;
    border-radius: 100px;
    color: #FFFFFF;
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
}

.fa-solid {
    background: #ea2ab0;
}

nav .span {
    display: none;
}

/* nav title tag end  */

/* section one title tag ster  */


/* section one title tag end  */

/* section two title tag ster  */
.section2 {
    margin-top: 200px;
    text-align: center;
}

.section2 h3 {
    font-size: 48px;
    font-weight: 700px;
    color: #FFFFFF;
}

.section2 p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 60px;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1300px;
    margin: 0px auto;
    gap: 20px;
    margin-top: 80px;
}
.box .box-text h2 {
    font-size: 48px;
    font-weight: 900px;
    color: green;
}

.box .box-text p {
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
}

.icon {
    background: rgba(26, 11, 46, 1);
}

/* section two title tag end  */