/* google fonts tag  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    max-width: 1600px;
}

body {
    background: rgba(26, 11, 46, 1);
}

/* nav title tag ster  */
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav div {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav h3 {
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

nav h3 span {
    color: rgb(168, 85, 247);
}

nav p {
    font-size: 16px;
    font-weight: 500px;
    color: #FFFFFF;
}

nav button {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 18px;
    border: none;
    border-radius: 100px;
    color: #FFFFFF;
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);
}

.fa-solid {
    background: #ea2ab0;
}

nav .span {
    display: none;
}

/* nav title tag end  */

/* section one title tag ster  */
.section1 {
    background-image: url(../image/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

.select1 .but {
    position: absolute;
    border: #F7E93F;
    background-color: aqua;

}

.banner .tag {
    background-color: #00FF88;
    position: absolute;
    margin-left: 860px;
    margin-top: 100px;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 100px;
    border: none;
    color: black;
    padding: 8px 16px;
}

.banner .mic {
    position: absolute;
    background-color: #f12cb6;
    border-radius: 10px;
    margin-left: -60px;
    margin-top: 150px;
}

.banner img {
    margin-top: 80px;
}


.banner h2 {
    font-size: 60px;
    font-weight: 800px;
    color: #FFFFFF;
    margin-top: 40px;
}

.banner p {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 16px;
}

.banner .bnt0 {
    gap: 30px;
}

.banner .bnt1 {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 18px;
    border: none;
    border-radius: 100px;
    color: #FFFFFF;
    background: linear-gradient(#9100F8, #FB09B4, #F7E93F);

}

.banner .bnt2 {
    font-size: 16px;
    font-weight: 600px;
    padding: 12px 18px;
    border: 2px solid green;
    border-radius: 100px;
    color: green;
    background: none;

}

/* section one title tag end  */

/* section two title tag ster  */
.section2 {
    margin-top: 100px;
    text-align: center;
}

.section2 h3 {
    font-size: 48px;
    font-weight: 700px;
    color: #FFFFFF;
}

.section2 p {
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 60px;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0px auto;
    gap: 20px;
    margin-top: 80px;
}

.box .box-text h2 {
    font-size: 48px;
    font-weight: 900px;
    color: green;
}

.box .box-text p {
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
}

.icon {
    background: rgba(26, 11, 46, 1);
}

/* section two title tag end  */
/* section three title tag ster  */

main {
    max-width: 1200px;
    margin: 0px auto;

}

.section3 h3 {
    font-size: 48px;
    font-weight: 900px;
    text-align: center;
    color: #FFFFFF;
}

/* section three title tag end  */



.section5 h1 {
    font-size: 48px;
    font-weight: 700px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.section5 .card-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.section5 .card iframe {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.section5 .card-t {
    padding: 20px;
}

.section5 .card {
    border-radius: 20px;
    background: rgb(53, 17, 101);
}

.section5 .card h4 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.section5 .card p {
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.section5 .card .min {
    color: #00FF88;
}




/* section six title tag ster */
.section6 h3 {
    margin-top: 120px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

.section6 .host {
    display: flex;
    padding: 40px;
    border-radius: 40px;
    background: rgb(53, 17, 101);
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 120px;

}

.host h4 {
    font-size: 32px;
    font-weight: 700px;
    color: #FFFFFF;
}

.host p {
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}

.host .img-host img {
    gap: 50px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
}

/* section six title tag end  */





footer {
    background-image: url(../image/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    width: 1515px;
    height: 400px;
}

.text-footer {
    border: 0.5px solid rgb(168, 85, 247);
}

footer h1 {

    margin-top: 90px;
    font-size: 60px;
    font-weight: 900px;
    color: #FFFFFF;
}

footer div div {
    display: flex;
    justify-content: space-between;
    margin: 40px 480px;
    align-items: center;

}

footer div div p {
    font-size: 20px;
    font-weight: 400px;
    color: #FFFFFF;
}

footer div .te {
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 120px;
}

footer span {
    color: rgb(168, 85, 247);
}